section.create_order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.create_order__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 80%;
}

.create_order__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
    padding: 15px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.order_list {
    width: 100%;
}

.order_list__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
}